---

- name: Create app folder
  become: yes
  file:
    path: /home/ubuntu/udaapp
    state: directory

- name: install tar
  become: true
  apt:
    name: tar
    state: present

- name: install pm2
  become: true
  npm:
    name: pm2
    global: true
    production: true
    state: present

- name: extract artifact
  become: true
  unarchive:
    src: /root/project/artifact.tar.gz 
    dest: /home/ubuntu/udaapp

- name: start the server
  become: true 
  shell: |
    cd ~
    pm2 start npm --name backend -- start

