- name: install tar
  become: true
  apt:
    name: tar
    state: present

- name: extract artifact
  become: true
  unarchive:
    src: artifact.tar.gz 
    dest: ~/artifact.tar.gz

- name: prepare binaries
  become: true 
  shell: |
    cd ~
    pwd
    tar xvzf artifact.tar.gz -C .

- name: install pm2
  become: true
  npm:
    name: pm2
    global: true
    production: true
    state: present

- name: start the server
  become: true 
  shell: |
    cd ~
    pm2 start npm --name backend -- start

