---
- name: "Install npm and nodejs"
  become: true
  apt:
    name: ["npm", "nodejs"]
    state: latest
    update_cache: yes

- name: Build backend
  ignore_errors: yes
  shell: |
    pwd
    cd ~/backend
    npm i
    npm run build
    cd ..
    pwd
    tar -C backend -czvf artifact.tar.gz .

- name: prepare binaries
  become: true
  shell: |
    cd ~
    tar xvzf artifact.tar.gz -C .

- name: start the server and app
  become: true
  shell: |
    cd ~
    pm2 start npm --name backend -- start